/* You can add custom styles here. */

// @import "plugins/numbered";

.cover {
    max-height: 250px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure > img {
    display: block;
}

figcaption {
    font-size: 10pt;
}

.centre-element {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }

.max-800px-wide {
@extend img;
width: 800px;
max-width: 800px;
}

.max-800px-wide {
    @extend img;
    width: 700px;
    max-width: 700px;
    }
.max-600px-wide {
    width: 600px;
max-width: 600px;

@extend img;
}
.max-500px-wide {
    width: 500px;
max-width: 500px;
@extend img;
}
.max-400px-wide {
    width: 400px;
max-width: 400px;
@extend img;
}
.max-300px-wide {
    width: 300px;
max-width: 200px;
@extend img;
}
.max-200px-wide {
    width: 200px;
max-width: 200px;
@extend img;
}
.max-100px-wide {
    width: 100px;
max-width: 100px;
@extend img;
}
.max-50px-wide {
    width: 50px;
max-width: 50px;
@extend img;
}
figcaption {
  text-align: center;
}
.frame {
border-style: solid;
border-width: 1px;
}

table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}